<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AutomationPractice Test Suite" verbose="1" >
  <test name="AutomationPractice Regression Test" >
    <classes>
      <class name="com.automationpractice.qa.tests.MyStoreHomePageTest"/>
      <class name="com.automationpractice.qa.tests.ContactUsPageTest"/>
      <class name="com.automationpractice.qa.tests.CreateAccountPageTest"/>
    </classes>
 </test>
</suite>