<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="The Internet herokuapp Test Suite" verbose="1" >
  <test name="The Internet herokuapp Regression Test" >
    <classes>
      <class name="com.herokuapp.qa.tests.HerokuAppHomePageTest"/>
    </classes>
 </test>
</suite>